<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lic. en nutrición Evangelina Ramon. Nos enfocamos en hábitos alimentarios saludables.">
    <meta name="keywords" content="nutrición, nutricionista, alimentación, antropometría, plantas, saludable">
    <title>Lic. Evangelina Ramon</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../img/favicon_io/site.webmanifest">
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Josefin+Sans:wght@600;700&family=Raleway&family=Roboto&display=swap" rel="stylesheet">
    <!--Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--BOOTSTRAP CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--Animate CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <!--Bootstrap Jquery, popper, js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- JQUERY -->
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="../js/index.js"></script>
    <!-- CSS-->
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/treatments.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-light navbar-expand-lg nav-menu">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img class="nav-img" src="../img/logo.jpeg" alt="Lic. Evangelina Ramon">    
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title primaryTextSerif" id="offcanvasNavbarLabel">Lic. Evangelina Ramon</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="./antrop.html">Antropometría</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./plants.html">Alimentación basada en plantas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="./treatments.html">Tratamientos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./recipe.html">Ideas de preparaciones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./turnos.html">Turnos!</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./about.html">Sobre mí</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="treatment-section">
            <div class="treatment-section-img"></div>
            <div class="treatment-section-text">
                <h2 class="treatment-title principalTitleSection">Tratamientos</h2>
                <h6 class="primaryText">Nos enfocamos en hábitos alimentarios saludables</h6>
                <p>Planes de alimentación adaptados e individualizados</p>
                <p>Eduación alimentaria</p>
                <p>Sobrepeso y obesidad</p>
                <p>Patologías intestinales</p>
                <p>Soporte nutricional</p>
                <p>Alimentación enteral</p>
                <p>Enfermedad renal</p>
            </div>
        </div>
    </main>

    <button id="btnTop" class="btn btnTop"><i class="fas fa-angle-double-up btnTop-icon"></i></button>

    <footer>
        <div class="footer-info">
            <div class="footer-info-icons">
                <p class="primaryText">Envianos tu mensaje por Instagram o Whatsapp</p>
                <a href="https://www.instagram.com/licevangelinaramon/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="left" title="Instagram">
                    <img class="footer-icon footer-icon-instagram" src="../img/instagram-icon.jpg" alt="Instagram">
                </a>
                <a href="https://api.whatsapp.com/send?phone=5491121699627&text=¡Hola!%20Me%20gustaría%20consultar%20por%20" target="_blank" data-bs-toggle="tooltip" data-bs-placement="right" title="Whatsapp">
                    <img class="footer-icon footer-icon-whatsapp" src="../img/whatsapp-icon.png" alt="Whatsapp">
                </a>
            </div>
            <div class="footer-info-maps">
                <p class="footer-text-map primaryText"><i class="fas fa-map-marker-alt"></i> Parque Centenario, Buenos Aires</p>
                <iframe class="footer-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.96092424257!2d-58.439796400000006!3d-34.6051496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca6d4eb622bd%3A0xcd1b2d701750a0bc!2sLeopoldo%20Marechal%201152%2C%20C1414%20BYB%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1655386523764!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <p class="footer-text-small"><i class="far fa-copyright"></i> Copyright 2022 | VN</p>
    </footer>
</body>
</html>